<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
<div>
    <form action="/login" method="post">
        First Name :
        <label>
            <input type="text" name="firstName">
        </label>
        Last Name :
        <label>
            <input type="text" name="lastName">
        </label>
        Email :
        <label>
            <input type="text" name="email">
        </label>
        Password :
        <label>
            <input type="text" name="password">
        </label>
        Age:
        <label>
            <input type="text" name="age">
        </label>
        City :
        <label>
            <input type="text" name="city">
        </label>
        <input type="submit" value="Send">
    </form>
</div>
</body>
</html>