<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
<div>
    <form action="/login" method="post">
        First Name : <input type="text" name="firstName">
        Last Name : <input type="text" name="lastName">
        Email : <input type="text" name="email">
        Password : <input type="text" name="password">
        Age: <input type="number" name="age">
        City : <input type="text" name="city">
        <input type="submit" value="OK">
    </form>
</div>
</body>
</html>